# Core dependencies
Django            # Django web framework
djangorestframework    # Django REST framework for API creation

# Security and Authentication
django-allauth       # User authentication and registration
django-axes            # Brute force protection

# Frontend and Styling
django-bootstrap4        # Bootstrap 4 integration for Django
django-widget-tweaks    # Customize form widgets in templates

# Optional: Debugging and Development Tools
django-debug-toolbar # Debugging tool for Django projects

# Deployment
gunicorn           # WSGI HTTP Server for deployment
